.music {
  width: 25px;
  height: 21px;
  background-image: url('../../resource.png');
  background-position: -175px -75px;
  position: absolute;
  bottom: 0;
  left: 10px;
}
.music.c {
  background-position: -150px -75px;
}