.button {
  position: absolute;
  text-align: center;
}
.button .i {
  display: block;
  background: #2e7db2;
  box-shadow: 0 5px 0 #0b4e7e;
  border-radius: 50%;
  position: relative;
}
.button.green .i {
  background: #4caf50;
  box-shadow: 0 5px 0 #2e7d32;
}
.button.red .i {
  background: #f44336;
  box-shadow: 0 5px 0 #b71c1c;
}
.button .active.i {
  top: 5px;
  box-shadow: none;
}
.button.s1 {
  width: 100rpx;
  height: 100rpx;
}
.button.s1 .i {
  width: 100rpx;
  height: 100rpx;
}
.button.s2 {
  width: 80rpx;
  height: 80rpx;
}
.button.s2 .i {
  width: 80rpx;
  height: 80rpx;
}
.button.s0 {
  width: 160rpx;
  height: 160rpx;
}
.button.s0 .i {
  width: 160rpx;
  height: 160rpx;
}
.button .span {
  position: absolute;
  top: -30rpx;
  width: 100%;
  text-align: center;
  font-size: 24rpx;
  white-space: nowrap;
  line-height: 1;
}
.button .position.span {
  top: 110rpx;
}
.button .em {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top-color: #fff;
  margin-top: -5px;
  margin-left: -10px;
  pointer-events: none;
}