.decorate {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.decorate .h1 {
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
  margin-top: 10px;
  font-weight: bold;
  font-size: 30px;
}
.decorate .topBorder {
  position: absolute;
  top: 10px;
  width: 100%;
  height: 20px;
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
}
.decorate .topBorder .span {
  width: 10px;
  height: 10px;
  background: #000;
  margin: 0 5px;
}
.decorate .view {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 150px;
}
.decorate .view.l {
  left: 20px;
  right: auto;
}
.decorate .view .c {
  display: inline-block;
  width: 12px;
  height: 12px;
  background: #000;
  margin: 2px;
}
.decorate .view .clear {
  clear: both;
}
