.logo {
  width: 100%;
  height: 100px;
  text-align: center;
  position: absolute;
  top: 100px;
  left: 0;
}
.logo .dragon {
  width: 80px;
  height: 80px;
  margin: 0 auto;
  background-image: url('../../resource.png');
  background-position: 0 -100px; 
}
.logo .p {
  width: 100%;
  text-align: center;
  margin-top: 10px;
  font-weight: bold;
}
.r1 { background-position: 0 -100px; }
.r2 { background-position: -100px -100px; }
.r3 { background-position: -200px -100px; }
.r4 { background-position: -300px -100px; }
.l1 { background-position: 0 -200px; }
.l2 { background-position: -100px -200px; }
.l3 { background-position: -200px -200px; }
.l4 { background-position: -300px -200px; }