
.number {
  height: 24px;
  font-size: 14px;
  display: flex;
  justify-content: flex-end;
}

.number .num-ele {
  width: 14px;
  height: 24px;
  margin-top: -2.5px;
  position: relative;
}

.number .bg {
  display: block;
  width: 28px;
  height: 48px;
  background-image: url('../../asset/img.png');
  background-repeat: no-repeat;
  overflow: hidden;
  transform: scale(0.5);
  transform-origin: 0 0;
  position: absolute;
  top: 0;
  left: 0;
}

.number .s_0 { background-position: -150px -50px; }
.number .s_1 { background-position: -178px -50px; }
.number .s_2 { background-position: -206px -50px; }
.number .s_3 { background-position: -234px -50px; }
.number .s_4 { background-position: -262px -50px; }
.number .s_5 { background-position: -290px -50px; }
.number .s_6 { background-position: -318px -50px; }
.number .s_7 { background-position: -346px -50px; }
.number .s_8 { background-position: -374px -50px; }
.number .s_9 { background-position: -402px -50px; }
.number .s_n { background-position: -430px -50px; }
.number .s_d { background-position: -486px -50px; }
.number .s_d_c { background-position: -458px -50px; }
