.matrix {
  display: flex;
  flex-direction: column;
  border: 2px solid #000;
  padding: 3px;
  background-color: #9ead86;
}
.matrix .p {
  display: flex;
  width: 100%;
  height: 22px;
}
.matrix .p .b {
  width: 22px;
  height: 22px;
  border: 1px solid #9ead86;
  box-sizing: border-box;
  background: none;
}
.matrix .p .c {
  background: #000;
  border-color: #000;
  border-width: 2px;
}
.matrix .p .d {
  background: #555;
  border-color: #555;
  border-width: 2px;
}